In [24]:
import pandas as pd

In [25]:
data = pd.read_csv ('~/Desktop/weather.csv')
data

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01/01/2016,38.0,23.0,52.0,30.03,10.0,8.0,0,5.0,NaN,281.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01/02/2016,36.0,18.0,46.0,30.02,10.0,7.0,0,3.0,NaN,275.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
57,1/29/2016,36.0,21.0,50.0,29.58,10.0,8.0,0,4.0,NaN,298.0
58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,1/30/2016,34.0,16.0,46.0,30.01,10.0,7.0,0,0.0,NaN,257.0
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,1/31/2016,46.0,28.0,52.0,29.90,10.0,5.0,0,0.0,NaN,241.0

In [26]:
data['Temperature'].max()

50.0

In [28]:
data['EST'][data['Events']=='Rain']

17    01/09/2016
19    01/10/2016
31     1/16/2016
53     1/27/2016
Name: EST, dtype: object